# List Comprehensions

#### Writing single liner code in list

In [1]:
my_string = 'Word of God'
my_list = []

for letter in my_string:
    my_list.append(letter)

In [2]:
my_list

['W', 'o', 'r', 'd', ' ', 'o', 'f', ' ', 'G', 'o', 'd']

In [5]:
my_list1 = [letter for letter in 'Word of God']

In [6]:
my_list1

['W', 'o', 'r', 'd', ' ', 'o', 'f', ' ', 'G', 'o', 'd']

In [7]:
my_num = [x for x in range(0,10)]

In [8]:
my_num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
my_num = [x**2 for x in range(0,10)]

In [10]:
my_num

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
my_num = [x for x in range(0,10) if x%2 == 0]

In [12]:
my_num

[0, 2, 4, 6, 8]

In [13]:
my_num = [x for x in range(0,10) if x%2 != 0]

In [14]:
my_num

[1, 3, 5, 7, 9]

In [15]:
my_num = [x**2 for x in range(0,10) if x%2 == 0]

In [16]:
my_num

[0, 4, 16, 36, 64]

In [17]:
celius = [0, 20, 20.9, 36.3, 23, 17.6]

farenheit = [((9/5)*temp + 32) for temp in celius]

In [18]:
farenheit

[32.0, 68.0, 69.62, 97.34, 73.4, 63.68000000000001]

In [26]:
print(f"{farenheit}")

[32.0, 68.0, 69.62, 97.34, 73.4, 63.68000000000001]

In [24]:
faren = []

for temp in celius:
    faren.append(((9/5)*temp + 32))

In [25]:
faren

[32.0, 68.0, 69.62, 97.34, 73.4, 63.68000000000001]

In [27]:
my_list = [x if x%2 == 0 else 'ODD' for x in range(0,10)]

In [28]:
my_list

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [29]:
my_list = [x if x%2 != 0 else 'EVEN' for x in range(0,10)]

In [30]:
my_list

['EVEN', 1, 'EVEN', 3, 'EVEN', 5, 'EVEN', 7, 'EVEN', 9]

In [31]:
my_multi = []

for x in [2,3,4]:
    for y in [10,100,1000]:
        my_multi.append(x*y)

In [32]:
my_multi

[20, 200, 2000, 30, 300, 3000, 40, 400, 4000]

In [33]:
my_multi1 = [x*y for x in [2,3,4] for y in [10,100,1000]]

In [34]:
my_multi1

[20, 200, 2000, 30, 300, 3000, 40, 400, 4000]