## Tuples

    - Tuples are similar like lists but immutable
    - Once index assigned value can not be changed/reassigned
    - (1,2,3,'Edwin')

In [1]:
my_tuples = (1,2,3,4)

In [2]:
my_list = [1,2,3,4]

In [3]:
type(my_tuples)

tuple

In [4]:
type(my_list)

list

In [5]:
my_tuples[-1]

4

In [6]:
my_tuples[3]

4

In [7]:
my_tuples = ('a', 'b', 'b', 'c', 'c', 'c')

In [8]:
my_tuples.count('a')

1

In [9]:
my_tuples.count('c')

3

In [10]:
my_tuples.index('b')

1

In [11]:
my_tuples.index('c')

3

In [12]:
my_tuples.index('a')

0

In [13]:
my_list[2] = "Edwin"

In [14]:
my_list

[1, 2, 'Edwin', 4]

In [15]:
my_tuples[2] = "Edwin"

TypeError: 'tuple' object does not support item assignment